<ul class="nav nav-tabs mt-3 ml-2">
  <li class="nav-item">
    <a class="nav-link" routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Employees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="observables" routerLinkActive="active">Observables</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="forms" routerLinkActive="active">Form validation</a>
  </li>
</ul>
<router-outlet></router-outlet>

<!-- <app-parent></app-parent> -->
